<p>Dear <% @product.user.name%>,</p>

<p>This is to inform you that Your Product <%=@product.title%> is rejected by Smartek Ecommerce Admin</p>
<p>Sorry for the inconvenience occured</p>

<p>Regards,</p>
<p>Smartek Ecommerce Team</p>