<p>Dear <% @product.user.name%>,</p>

<p>Your Product <%=@product.title%> is successfully approved by Smartek Ecommerce Admin!</p>
<p>Start Posting Updates!!</p>

<p>Regards,</p>
<p>Smartek Ecommerce Team</p>