<form action="/orders/checkout" method="post">
  First name: <input type="text" name="first_name"><br>
  Last name: <input type="text" name="last_name"><br>
  Card Number: <input type="text" name="number"><br>
  Card Type: <input type="text" name="card_type"><br>
  Expiry Month: <input type="text" name="month"><br>
  Expiry Year: <input type="text" name="year"><br>
  CVV: <input type="text" name="verification_value"><br>
  <input type="submit" value="Submit">
</form>
