<p id="notice"><%= notice %></p>

<p>
  <strong>Prod name:</strong>
  <%= @product_category.prod_name %>
</p>

<%= link_to 'Edit', edit_product_category_path(@product_category) %> |
<%= link_to 'Back', product_categories_path %>
