<p id="notice"><%= notice %></p>

<p>
  <strong>Brand name:</strong>
  <%= @product_brand.brand_name %>
</p>

<%= link_to 'Edit', edit_product_brand_path(@product_brand) %> |
<%= link_to 'Back', product_brands_path %>
