<body>
	<!-- Site header and navigation -->
	<header class="top" role="header">
		<div class="container">
			<a href="#" class="navbar-brand pull-left">
				Smartek Ecommerce
			</a>
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="glyphicon glyphicon-align-justify"></span>
			</button>
			<nav class="navbar-collapse collapse" role="navigation">
				<ul class="navbar-nav nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					<li><%= link_to "Profile", new_profile_detail_path%> </li>
					<% if user_signed_in? %>
						<li><%= link_to "Logout", destroy_user_session_path, :method=> :delete%></li>
					<% else %>
						<li><%= link_to "Sign up", new_user_registration_path %> </li>
						<li> <%= link_to "Sign in", new_user_session_path%></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</header>

	<!-- Site banner -->
	<div class="banner">
	<div class="container">
	<h1>Twitter Bootstrap 3: Responsive Design Tutorial</h1>
	<p>A comprehensive tutorial showing you how to quickly create responsive designs using Twitter Bootstrap 3.</p>
	</div>
	</div>

	<!-- Include jQuery and bootstrap JS plugins -->
	<script src="/assets/jquery-2.1.0.min.js"></script>
	<script src="/assets/bootstrap.min.js"></script>
</body>

